*{margin:0px;padding:0px;font-family: 'Applied Font Regular', 'Applied Font'}
a {text-decoration:none}
ul,li{list-style-type:none}
li{display:inline-block;vertical-align:top}

.container{max-width:1200px;margin:0px auto;background-color:#29a7e1}
.container:before {
	content: " ";
}
.container:after {
    content: " ";
    clear: both;
}
.header{width:100%;height:90px;background-color:#0288d1}
.header:before {
	content: " ";
}
.header:after {
    content: " ";
    clear: both;
}
.header_left,.left{float:left;}
.header_right,.right{float:right;}
.logo_img{display:inline-block;vertical-align:top;padding:10px 0px 0px 30px}
.header_left h1{display:inline-block;color:white;vertical-align:top;padding:25px 0px 0px 20px}
.userlogo{display:inline-block;vertical-align:top;padding:25px 0px 0px 0px;width:40px;border-radius:50%}
.username{display:inline-block;vertical-align:top;padding:35px 20px 0px 10px;color:white;}
.emailblock{display:inline-block;vertical-align:top;padding:30px 20px 0px 20px;}
.positionrelative{position:relative;display:inline-block;vertical-align:top}
.email{width:40px;}
.power{display:inline-block;vertical-align:top;padding:25px 30px 0px 20px;width:40px;}
.emailalarm{display:inline-block;position:absolute;top:-3px;right:-3px;background-color:red;border-radius:50%;width:10px;height:10px}
.sidebar{float:left;width:240px;height:100%;background-color:#29a7e1}
.content{float:left;width:940px;padding-left:20px;background-color:#f2f2f2;color:#555555}
.nav{border-top:2px solid white;padding:10px 40px;display:block}
.nav img{width:40px}
.nav .navtext{display:inline-block;vertical-align:top;padding:10px 0px 0px 10px;color:white;font-size:1.2em;}
.navselected{background-color:#045e90;font-weight:bold}
.heightcontrol{position:absolute;height:100%;background-color:black}
.clearboth{clear:both;height:0px;font-size:1px;}
.block{padding:15px;width:auto}
/* overview css */
.subtitle{font-size:1.5em;}
.period,.productbtn{background-color:white;padding:10px 15px;text-align:center;margin-left:5px;color:#999999;display:inline-block;}
.periodselected,.productbtnselected{background-color:#29a7e1;color:white}
.infototal li{background-color:white;text-align:center;width:230px;margin:0px 30px}
.infototal_title{padding:10px 0px;background-color:#29a7e1;font-size:1.2em;color:white}
.infototal_content{padding:15px 0px;}
.infototal_content p{line-height:200%;color:#777777}
.graph_block{background-color:white;width:90%;margin:0px auto;padding:15px}
.graph_y{padding-left:10px;font-color:#777777;font-size:0.95em}
.graph{width:90%;border-left:1px solid black;border-bottom:1px solid black;margin:10px auto;height:280px;margin-bottom:35px}
.graphline_block{width:100%;height:100%;}
.graphline_block li{width:16.2%;position:relative;height:100%}
.graphline{width:20px;position:absolute;bottom:0px;}
.typeline1{height:120px;background-color:#ff6633;left:30px}
.typeline2{height:100px;background-color:#29a7e1;left:50px}
.typeline3{height:140px;background-color:#ff9900;left:70px}
.graphdate{position:absolute;bottom:-25px;left:30px;font-size:0.85em;}
.graphdescription{width:80%;margin:0px auto;margin-top:-15px}
.graphdescription li{padding:0px 20px}
.typedescription1{height:10px;width:25px;background-color:#ff6633;display:inline-block}
.typedescription2{height:10px;width:25px;background-color:#29a7e1;display:inline-block}
.typedescription3{height:10px;width:25px;background-color:#ff9900;display:inline-block}
.typedescriptiontext{padding-left:10px;font-size:0.85em}
/* product css */
.backgroundwhite{background-color:white}
#browser li{display:block}
/* order css */
/* sales css */
/* stock css */
/* statistics css */
/* user css */
/* email css */